@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

body{
    background-color: var(--background-color);
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main .logo-huddle{
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 60px 100px;
}

main .content-container{
    display: flex;
    padding: 50px;
}

main .content-container .illustration-mockups{
    padding: 0px 20px;
}

main .content-container .description-container{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    max-width: 500px;
}

main .content-container .description-container .title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
    color: white;
}

main .content-container .description-container .description{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
    margin-bottom: 20px;
}

main .content-container .description-container a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: var(--btn-color);
    color: white;
    text-align: center;
    max-width: 210px;
    padding: 17px 68px;
    border-radius: 30px;
}